@use "sass:math";
@import "base";

$primary: #0079bf;
$gray: #ebecf0;

div.board {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  padding: 2rem;
  background-color: $primary;

  // &.mouseDrag a.card:hover {
  //   border-block-end: 2px solid cornflowerblue;
  // }
}

article.list-cards {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  width: 27rem;
  overflow-y: auto;

  background-color: $gray;
  padding-inline: 1rem;
  border-radius: 6px;

  &:not(:last-child) {
    margin-inline-end: 1rem;
  }

  h2.list-header {
    position: sticky;
    top: 0;
    padding-block: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: $gray;
  }

  .droppable {
    $paddingBlock: 1rem;

    padding-block: math.div($paddingBlock, 2);

    $indicator: 10px solid lighten($primary, 40%);

    &.top-indicator {
      border-top: $indicator;
    }

    &.bottom-indicator {
      border-bottom: $indicator;
    }

    &:first-child {
      padding-block-start: $paddingBlock;
    }

    &:last-child {
      padding-block-end: $paddingBlock;
    }
  }

  div.card a {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: $white-default;
    border-radius: 6px;
  }
}
